<section class="covers">
  <div class="container">
    <h2 class="visually-hidden">Covers</h2>
    <ul class="covers-list list">
      <li class="covers-item">
        <div class="image-container">
          <img
            src="../img-covers/power-pulse.jpg"
            srcset="
              ../img-covers/power-pulse.jpg    1x,
              ../img-covers/power-pulse@2x.jpg 2x
            "
            alt="Power Pulse"
            class="responsive-img"
          />
        </div>
      </li>
    </ul>
    <ul class="covers-list list">
      <li class="covers-item">
        <div class="image-container">
          <img
            src="../img-covers/mimino.jpg"
            srcset="../img-covers/mimino.jpg 1x, ../img-covers/mimino@2x.jpg 2x"
            alt="Mimino"
            class="responsive-img"
          />
        </div>
      </li>
    </ul>
    <ul class="covers-list list">
      <li class="covers-item">
        <div class="image-container">
          <img
            src="../img-covers/traditional.jpg"
            srcset="
              ../img-covers/traditional.jpg    1x,
              ../img-covers/traditional@2x.jpg 2x
            "
            alt="Traditional"
            class="responsive-img"
          />
        </div>
      </li>
    </ul>
    <ul class="covers-list list">
      <li class="covers-item">
        <div class="image-container">
          <img
            src="../img-covers/green-hurvest.jpg"
            srcset="
              ../img-covers/green-hurvest.jpg    1x,
              ../img-covers/green-hurvest@2x.jpg 2x
            "
            alt="Green Hurvest"
            class="responsive-img"
          />
        </div>
      </li>
    </ul>
    <ul class="covers-list list">
      <li class="covers-item">
        <div class="image-container">
          <img
            src="../img-covers/wallet.jpg"
            srcset="../img-covers/wallet.jpg 1x, ../img-covers/wallet@2x.jpg 2x"
            alt="Wallet"
            class="responsive-img"
          />
        </div>
      </li>
    </ul>
    <ul class="covers-list list">
      <li class="covers-item">
        <div class="image-container">
          <img
            src="../img-covers/chego.jpg"
            srcset="../img-covers/chego.jpg 1x, ../img-covers/chego@2x.jpg 2x"
            alt="Chego"
            class="responsive-img"
          />
        </div>
      </li>
    </ul>
    <ul class="covers-list list">
      <li class="covers-item">
        <div class="image-container">
          <img
            src="../img-covers/energy-flow.jpg"
            srcset="
              ../img-covers/energy-flow.jpg    1x,
              ../img-covers/energy-flow@2x.jpg 2x
            "
            alt="Energy Flow"
            class="responsive-img"
          />
        </div>
      </li>
    </ul>
    <ul class="covers-list list">
      <li class="covers-item">
        <div class="image-container">
          <img
            src="../img-covers/fruitbox.jpg"
            srcset="
              ../img-covers/fruitbox.jpg    1x,
              ../img-covers/fruitbox@2x.jpg 2x
            "
            alt="Fruit Box"
            class="responsive-img"
          />
        </div>
      </li>
    </ul>
    <ul class="covers-list list">
      <li class="covers-item">
        <div class="image-container">
          <img
            src="../img-covers/english.jpg"
            srcset="
              ../img-covers/english.jpg    1x,
              ../img-covers/english@2x.jpg 2x
            "
            alt="English Excellence"
            class="responsive-img"
          />
        </div>
      </li>
    </ul>
    <ul class="covers-list list">
      <li class="covers-item">
        <div class="image-container">
          <img
            src="../img-covers/starligh-studio.jpg"
            srcset="
              ../img-covers/starligh-studio.jpg    1x,
              ../img-covers/starligh-studio@2x.jpg 2x
            "
            alt="Starlight Studio"
            class="responsive-img"
          />
        </div>
      </li>
    </ul>
  </div>
</section>
