<header class="header">
  <div class="container">
    <nav class="nav-header">
      <a href="./index.html" target="_blank" class="logo-link">
        <div class="header-logo">
          <img
            srcset="
              ./img/img-header/logo-pic.png    1x,
              ./img/img-header/logo-pic-2x.png 2x
            "
            src="./img/img-header/logo-pic.png"
            alt="jefferson"
            width="80"
            height="80"
          />
          <div class="logo-text-wrapper">
            <p class="logo-text">
              jefferson<svg class="jefferson-star" width="8" height="8">
                <use href="./img/symbol-defs.svg#icon-logo"></use>
              </svg>
            </p>
          </div>
        </div>
      </a>

      <div class="desktop-header-nav-wrapper">
        <button class="header-menu" type="button">Menu</button>
        <nav class="desktop-header-nav">
          <ul class="desktop-header-list close">
            <li class="desktop-header-item">
              <a class="desktop-header-item-link" href="#about-me">About me</a>
            </li>
            <li class="desktop-header-item">
              <a class="desktop-header-item-link" href="#benefits">Benefits</a>
            </li>
            <li class="desktop-header-item">
              <a class="desktop-header-item-link" href="#projects">Projects</a>
            </li>
            <li class="desktop-header-item">
              <a class="desktop-header-item-link" href="#faq">FAQ</a>
            </li>
          </ul>
        </nav>
      </div>

      <button type="button" class="burger-btn">
        <span class="burger-span"></span>
        <span class="burger-span"></span>
      </button>
      <a class="header-btn" href="#work-together">Order the project</a>
    </nav>
  </div>
</header>
