<header class="header">
  <div class="container">
    <nav class="nav-header">
      <a href="./index.html" target="_blank" class="logo-link">
        <div class="header-logo">
          <img
            srcset="
              ./img/img-header/logo-pic.png    1x,
              ./img/img-header/logo-pic-2x.png 2x
            "
            src="./img/img-header/logo-pic.png"
            alt="jefferson"
            width="80"
            height="80"
          />
          <div class="logo-text-wrapper">
            <p class="logo-text">
              jefferson<svg class="jefferson-star" width="8" height="8">
                <use href="./img/symbol-defs.svg#icon-logo"></use>
              </svg>
            </p>
          </div>
        </div>
      </a>
      <p class="js-header-menu header-menu">Menu</p>
      <button type="button" class="burger-btn">
        <span class="burger-span"></span>
        <span class="burger-span"></span>
      </button>
      <button type="button" class="header-btn">Order the project</button>
    </nav>
  </div>
</header>
