<section class="hero-section">
  <div class="hero-container">
    <h1 class="hero-title">
      Hello. <br />I’m Fullstack developer <br />Lloyd Jefferson.
    </h1>

    <ul class="hero-social-list">
      <li class="hero-social-item">
        <a
          class="hero-social-link"
          href="https://www.instagram.com/goitclub/"
          target="_blank"
          >IG
        </a>
      </li>

      <li class="hero-social-item">
        <a
          class="hero-social-link"
          href="https://www.facebook.com/goITclub/"
          target="_blank"
          >FB
        </a>
      </li>

      <li class="hero-social-item">
        <a
          class="hero-social-link"
          href="https://www.youtube.com/c/GoIT"
          target="_blank"
          >YT
        </a>
      </li>

      <li class="hero-social-item">
        <a
          class="hero-social-link"
          href="https://github.com/hlieb-kotiun/master-code-js"
          target="_blank"
          >GH
        </a>
      </li>

      <li class="email-item">
        <a
          class="email-link hero-social-link"
          href="mailto:lloydjefferson@gmail.com"
          >lloydjefferson@gmail.com
        </a>
      </li>
    </ul>
  </div>
</section>
