<section class="hero-section">
  <div class="hero-container">
    <h1 class="hero-title">
      Hello. <br />I’m Fullstack developer <br />Lloyd Jefferson.
    </h1>

    <ul class="hero-social-list">
      <li class="hero-social-item">
        <a
          class="hero-social-link"
          href="https://www.instagram.com/goitclub/"
          target="_blank"
          >IG</a
        >
      </li>

      <li class="hero-social-item">
        <a
          class="hero-social-link"
          href="https://www.facebook.com/goITclub/"
          target="_blank"
          >FB</a
        >
      </li>

      <li class="hero-social-item">
        <a
          class="hero-social-link"
          href="https://www.youtube.com/c/GoIT"
          target="_blank"
          >YT</a
        >
      </li>

      <li class="hero-social-item">
        <a class="hero-social-link" href="" target="_blank">GH</a>
      </li>

      <li class="hero-social-item email-item">
        <a
          class="hero-social-link hero-email-link"
          href="mailto:lloydjefferson@gmail.com"
        >
          lloydjefferson@gmail.com
        </a>
      </li>
    </ul>
  </div>
</section>
