<section class="hero">
  <div class="container">
    <h1 class="hero-title">hello. i'm fullstack developer lloyd jefferson</h1>
    <ul class="social-media-list">
    <il class="social-media-item"><a href="#">it</a> </il>
    <il class="social-media-item"><a href="#">fb</a> </il>
    <il class="social-media-item"><a href="#">yt</a> </il>
    <il class="social-media-item"><a href="#">gh</a> </il>
    <il class="social-media-item"><a href="mailto:lloydjefferson@gmail.com">lloydjefferson@gmail.com</a> </il>
  </ul>
  </div>
</section>
 