<section id="projects" class="projects">
  <div class="container projects-container">
    <h2 class="projects-title">projects</h2>

    <div class="swiper project-swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <ul class="projects-list">
            <li class="projects-lits-item white-bg-item">
              <div class="white-bg-container">
                <ul class="projects-hashtag-list">
                  <li class=""><h3 class="projects-hashtag">#react</h3></li>
                  <li class=""><h3 class="projects-hashtag">#js</h3></li>
                  <li class=""><h3 class="projects-hashtag">#node js</h3></li>
                  <li class=""><h3 class="projects-hashtag">#git</h3></li>
                </ul>
                <h3 class="white-bg-title">
                  Programming Across Borders: Ideas, Technologies, Innovations
                </h3>
                <a href="#" class="white-bg-btn">See project</a>
              </div>
            </li>
            <li class="projects-lits-item grey-bg-item">
              <picture>
                <source
                  srcset="
                    ./img/project-img/reader-dt-tb-1x-min.png 1x,
                    ./img/project-img/reader-dt-tb-2x-min.png 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    ./img/project-img/reader-mb-1x-min.png 1x,
                    ./img/project-img/reader-mb-2x-min.png 2x
                  "
                  media="(max-width: 767px)"
                />
                <img
                  src="./img/project-img/reader-mb-1x-min.png"
                  alt="Reading app"
                />
              </picture>
            </li>
          </ul>
        </div>
        <div class="swiper-slide">
          <ul class="projects-list">
            <li class="projects-lits-item white-bg-item">
              <div class="white-bg-container">
                <ul class="projects-hashtag-list">
                  <li class=""><h3 class="projects-hashtag">#react</h3></li>
                  <li class=""><h3 class="projects-hashtag">#js</h3></li>
                  <li class=""><h3 class="projects-hashtag">#node js</h3></li>
                  <li class=""><h3 class="projects-hashtag">#git</h3></li>
                </ul>
                <h3 class="white-bg-title">
                  Programming Across Borders: Ideas, Technologies, Innovations
                </h3>
                <a href="#" class="white-bg-btn">See project</a>
              </div>
            </li>
            <li class="projects-lits-item grey-bg-item">
              <picture>
                <source
                  srcset="
                    ./img/project-img/petlove-dt-tb-1x-min.png 1x,
                    ./img/project-img/petlove-dt-tb-2x-min.png 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    ./img/project-img/petlove-mb-1x-min.png 1x,
                    ./img/project-img/petlove-mb-2x-min.png 2x
                  "
                  media="(max-width: 767px)"
                />
                <img
                  src="./img/project-img/petlove-mb-1x-min.png"
                  alt="Reading app"
                />
              </picture>
            </li>
          </ul>
        </div>
        <div class="swiper-slide">
          <ul class="projects-list">
            <li class="projects-lits-item white-bg-item">
              <div class="white-bg-container">
                <ul class="projects-hashtag-list">
                  <li class=""><h3 class="projects-hashtag">#react</h3></li>
                  <li class=""><h3 class="projects-hashtag">#js</h3></li>
                  <li class=""><h3 class="projects-hashtag">#node js</h3></li>
                  <li class=""><h3 class="projects-hashtag">#git</h3></li>
                </ul>
                <h3 class="white-bg-title">
                  Programming Across Borders: Ideas, Technologies, Innovations
                </h3>
                <a href="#" class="white-bg-btn">See project</a>
              </div>
            </li>
            <li class="projects-lits-item grey-bg-item">
              <picture>
                <source
                  srcset="
                    ./img/project-img/vocabuilder-dt-tb-1x-min.png 1x,
                    ./img/project-img/vocabuilder-dt-tb-2x-min.png 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    ./img/project-img/vacabuilder-mb-1x-min.png 1x,
                    ./img/project-img/vacabuilder-mb-2x-min.png 2x
                  "
                  media="(max-width: 767px)"
                />
                <img
                  src="./img/project-img/vacabuilder-mb-1x-min.png"
                  alt="Reading app"
                />
              </picture>
            </li>
          </ul>
        </div>
      </div>

      <div class="swiper-btn-list">
        <div class="swiper-button-prev">
          <button class="carousel-btn left-btn">
            <svg class="carousel-svg" widt="24" height="24">
              <use href="./img/symbol-defs.svg#icon-arrow-left-1"></use>
            </svg>
          </button>
        </div>
        <div class="swiper-button-next">
          <button class="carousel-btn right-btn">
            <svg class="carousel-svg" widt="24" height="24">
              <use href="./img/symbol-defs.svg#icon-arrow-right-1"></use>
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
