<section class="reviews">
  <div class="container reviews-container">
    <h2 class="rev-name">REVIEWS</h2>
    <div class="swiper rev-swiper">
      <ul class="swiper-wrapper js-review rev-wrapper">
        <!-- Контент буде додано тут -->
      </ul>
      <!-- Якщо потрібні кнопки навігації -->
      <div class="rev-btn-container">
        <div class="rev-prev swiper-button-prev">
          <button class="rev-button left-btn left-btn-disabled">
            <svg class="carousel-svg" width="24" height="24">
              <use href="./img/symbol-defs.svg#icon-arrow-left-1"></use>
            </svg>
          </button>
        </div>

        <div class="rev-next swiper-button-next">
          <button class="rev-button right-btn right-btn-disabled">
            <svg class="carousel-svg" width="24" height="24">
              <use href="./img/symbol-defs.svg#icon-arrow-right-1"></use>
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- 
<div class="swiper"> -->
<!-- Additional required wrapper -->
<!-- <div class="swiper-wrapper"> -->
<!-- Slides -->
<!-- <div class="swiper-slide">Slide 1</div>
    <div class="swiper-slide">Slide 2</div>
    <div class="swiper-slide">Slide 3</div> -->

<!-- </div> -->
<!-- If we need pagination -->
<!-- <div class="swiper-pagination"></div> -->

<!-- If we need navigation buttons -->
<!-- <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div> -->

<!-- If we need scrollbar -->
<!-- <div class="swiper-scrollbar"></div> -->
<!-- </div> -->
