<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/reviews.css">
    <title>Reviews</title>
</head>

<body>
    <main>
        <div class="reviews-container">

            <div class="swiper rev-swiper">
                <h2 class="rew-name">REVIEWS</h2>
                <!-- Контейнер для слайдів -->
                <ul class="swiper-wrapper js-review">
                    <!-- Слайди будуть додаватись через JavaScript -->
                </ul>

                <!-- Пагінація -->


                <!-- Навігаційні кнопки -->
                <div class="btn-container">
                    <button type="button" class="back-btn nav-btn disabled">
                        <svg class="svg-arr disabled">
                            <use href="../img/symbol-defs.svg#icon-arrow-left-1"></use>
                        </svg>
                    </button>
                    <button type="button" class="next-btn nav-btn">
                        <svg class="svg-arr">
                            <use href="./img/symbol-defs.svg#icon-arrow-right-1"></use>
                        </svg>
                    </button>
                </div>
            </div>
        </div>
    </main>

    <script type="module" src="./js/reviews.js"></script>
</body>

</html>