<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/reviews.css">
  <title>Reviews</title>
</head>
<body>
  <main>
 
        <h2 class="rew-name">REVIEWS</h2>
        <div class="swiper">
          <!-- Additional required wrapper -->
           
          <ul class="swiper-wrapper review-list js-review">
            <!-- Slides -->
          
            ...
          </ul>
          <!-- If we need pagination -->
         
        <div class="swiper-pagination"></div>
          <!-- If we need navigation buttons -->
          <div class="btn-container">
            <button type="button" class="back-btn nav-btn"><svg>
              <use href="../img/symbol-defs.svg#icon-arrow-left-2"></use>
            </svg></button>
            <button type="button" class="next-btn nav-btn"><svg>
              <use href="../img/symbol-defs."></use>
            </svg></button>
          </div>
           
        
      
        </div>
       

  </div>
  </main>
  <script type="module" src="../js/reviews.js"></script>
</body>
</html>
