.about-me-container {
  max-width: 375px;
  display: flex;
  flex-direction: column;
  padding-top: 64px;
  padding-bottom: 64px;
}

.about-me-description {
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;
}

.about-me-text-wrapper {
  height: 500px;
  border-radius: 24px;
  background-color: #242527;
  padding-top: 32px;
  padding-left: 32px;
  padding-right: 32px;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #fafafa;
  margin-bottom: 16px;
}

.accent-red {
  color: #ed3b44;
}

.accent-gray {
  color: rgba(250, 250, 250, 0.4);
}

.about-image {
  border-radius: 24px;
  overflow: hidden;
}
.about-me-info {
  margin-bottom: 32px;
}
ul.accordion-container li.ac.acordeon-list-item {
  margin: 0;
  padding: 32px 0;
  padding-top: 20px;
  background-color: transparent;
  color: #fafafa;
  border: none;
  width: 100%;
  border-color: transparent;
  border-bottom: 1px solid rgba(250, 250, 250, 0.2);
}
ul.accordeon-list li.ac button.ac-trigger.title-current {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: rgba(250, 250, 250, 0.4);
}
ul.accordion-container li.ac .ac-trigger.title-current:after {
  content: '';
  position: absolute;
  top: 20px;
  right: 16px;
  width: 34px;
  height: 34px;
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 100px;
  transform: translate(50%, -50%);
}

ul.accordion-container li.ac.is-active .title-icon {
  transform: rotate(-180deg);
}
.title-icon {
  position: absolute;
  top: 10px;
  right: 7px;
  transition: transform 0.3s ease-in-out;
}

.accordeon-content-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: #fafafa;
}
.accordeon-content-text:first-child {
  margin-bottom: 32px;
}
.accordeon-content .accordeon-content-text li {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: #fafafa;
}
.role-list,
.education-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.about-me-swiper-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.about-me-skills {
  width: 260px;
  height: 130px;
  margin: 0;
}

.swiper-content-wrap {
  display: flex;
  text-align: center;
  align-content: center;
  justify-content: center;
  width: 130px;
  height: 130px;
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  align-items: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: #fafafa;
}

.swiper-content-wrap-active,
.swiper-content-wrap:active {
  background-color: #ed3b44;
  outline: transparent;
}

.swiper-arrow {
  background-color: transparent;
  border-radius: 50%;
  border-color: transparent;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.swiper-arrow-svg {
  fill: transparent;
  stroke: #3b3b3b;
}

.swiper-arrow:active {
  box-shadow: 0px 1px 6px 0px #e0373f;
}

@media screen and (max-width: 767px) {
  .accordeon-content-education-list {
    max-width: 342px;
  }
}

@media screen and (min-width: 768px) {
  .about-me-container {
    padding-top: 64px;
    padding-bottom: 96px;
    max-width: 768px;
  }

  .about-me-description {
    margin-bottom: 64px;
  }

  .about-me-text-wrapper {
    height: 700px;
    padding-top: 64px;
    padding-right: 64px;
    padding-left: 64px;
    font-size: 38px;
    line-height: 1.05;
  }
  .about-me-info {
    margin-bottom: 64px;
  }
  ul.accordion-container li.ac.acordeon-list-item:first-child {
    padding-top: 0;
  }
  .about-me-swiper-container .about-me-skills {
    margin-left: 0;
  }

  .about-me-skills {
    width: 600px;
    height: 200px;
  }

  .swiper-content-wrap {
    width: 200px;
    height: 200px;
    font-size: 20px;
  }
  .swiper-arrow-svg {
    width: 40px;
    height: 40px;
  }
}

@media screen and (min-width: 1440px) {
  .about-me-container {
    max-width: 1440px;
    padding-top: 96px;
    padding-bottom: 164px;
  }

  .about-me-description {
    flex-direction: row;
  }
  .about-me-info {
    margin-bottom: 96px;
  }
  .about-me-text-wrapper {
    max-width: 680px;
    margin-right: 16px;
    font-weight: 500;
    font-size: 38px;
    margin-bottom: 0;
  }
  .ul.accordion-container li.ac .ac-trigger.title-current:after {
    width: 40;
    height: 40;
  }
  .accordeon-content {
    width: 612px;
    margin-left: auto;
    margin-right: 68px;
    margin-bottom: 32px;
  }
  .about-me-swiper-container {
    max-width: 1314px;
    margin: 0 auto;
    column-gap: 72px;
  }

  .about-me-skills {
    width: 1200px;
    height: 200px;
  }
}

/* - - - */

/* .acordeon-list-item {
  border: none !important;
  background-color: transparent !important;
} */

/* - - -  */
/* .ac {
  border: none !important;
  background-color: transparent !important;
  
} */
