.about-me {
  margin-bottom: 64px;
}

.about-me-container {
  max-width: 375px;
  display: flex;
  flex-direction: column;
}

.about-me-description {
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;
}

.about-me-text-wrapper {
  height: 500px;
  border-radius: 24px;
  background-color: #242527;
  padding-top: 32px;
  padding-left: 32px;
  padding-right: 32px;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #fafafa;
  margin-bottom: 16px;
}

.accent-red {
  color: #ed3b44;
}

.accent-gray {
  color: rgba(250, 250, 250, 0.4);
}

.about-image {
  border-radius: 24px;
  overflow: hidden;
}

.title-current {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid rgba(250, 250, 250, 0.2);
}

.active-is {
  transform: rotate(180deg);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hidden {
  overflow: hidden;
  opacity: 0;
}
.about-me-info {
  margin-bottom: 32px;
}
.accordeon-list {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.accordeon-list > li {
  border-bottom: 1px solid rgba(250, 250, 250, 0.2);
}

.accordeon-content {
  padding-top: 12px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  row-gap: 32px;
  letter-spacing: -0.02em;
}
.accordeon-content-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: #fafafa;
}
.accordeon-title {
  display: flex;
  justify-content: space-between;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}

.accordeon-content-role-list,
.accordeon-content-education-list {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.about-me-swiper-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.about-me-skills {
  width: 260px;
  height: 130px;
  margin: 0;
}

.swiper-content-wrap {
  display: flex;
  text-align: center;
  align-content: center;
  justify-content: center;
  width: 130px;
  height: 130px;
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  align-items: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: #fafafa;
}

.swiper-content-wrap-active,
.swiper-content-wrap:active {
  background-color: #ed3b44;
  outline: transparent;
}

.swiper-arrow {
  background-color: transparent;
  border-radius: 50%;
  border-color: transparent;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.swiper-arrow-svg {
  fill: transparent;
  stroke: #3b3b3b;
}

.swiper-arrow:active {
  box-shadow: 0px 1px 6px 0px #e0373f;
}

@media screen and (max-width: 767px) {
  .accordeon-content-education-list {
    max-width: 342px;
  }
}

@media screen and (min-width: 768px) {
  .about-me {
    margin-bottom: 96px;
  }
  .about-me-container {
    padding-left: 32px;
    padding-right: 32px;
    max-width: 768px;
  }

  .section-about {
    padding-bottom: 48px;
  }

  .about-me-text-wrapper {
    height: 700px;
    padding-top: 64px;
    padding-right: 64px;
    padding-left: 64px;
    font-size: 38px;
    line-height: 1.05;
  }

  .about-me-container {
    row-gap: 64px;
  }

  .accordeon-content {
    row-gap: 16px;
  }

  .accordeon-content-text > br {
    display: none;
  }

  .accordeon-content {
    padding-top: 8px;
    padding-bottom: 32px;
  }

  .accordeon-list {
    row-gap: 32px;
  }

  .title-current {
    width: 40px;
    height: 40px;
  }

  .about-me-skills {
    width: 600px;
    height: 200px;
  }

  .swiper-content-wrap {
    width: 200px;
    height: 200px;
    font-size: 20px;
  }

  .swiper-arrow-svg {
    width: 40px;
    height: 40px;
  }
}

@media screen and (min-width: 1440px) {
  .about-me {
    margin-bottom: 164px;
  }

  .about-me-container {
    max-width: 1440px;
  }

  .about-me-description {
    flex-direction: row;
    column-gap: 16px;
  }

  .section-about {
    padding-top: 48px;
    padding-bottom: 82px;
  }

  .about-me-text-wrapper {
    max-width: 680px;
  }

  .about-me-container {
    row-gap: 96px;
  }

  .accordeon-content {
    padding-right: 68px;
  }

  .accordeon-content-text {
    display: block;
    margin-left: 696px;
  }

  .accordeon-content-role-list,
  .accordeon-content-education-list {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    margin-left: 696px;
  }

  .accordeon-content-text > br {
    display: inline;
  }

  .about-me-swiper-container {
    max-width: 1314px;
    margin: 0 auto;
    column-gap: 72px;
  }

  .about-me-skills {
    width: 1200px;
    height: 200px;
  }
}

/* - - - */

.acordeon-list-item {
  border: none !important;
  background-color: transparent !important;
}

/* - - -  */
/* .ac {
  margin-top: 8px;

  border: none !important;
  background-color: transparent !important;
  box-sizing: border-box;
} */
