.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.covers {
  background-image: url('../img/img-covers/covers-bg.png');
  backdrop-filter: blur(30px);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .covers {
    background-image: url('../img/img-covers/covers-bg@2x.png');
  }
}

.covers-container {
  min-width: 320px;
  max-width: 375px;
  height: 508px;
  margin: 0 auto;
  margin-bottom: 64px;
  overflow: hidden;
}

.covers-list {
  transform: translateY(-20%);
}

.covers-item {
  transform: rotate(16deg);
  display: flex;
  align-items: center;
  justify-content: center;
}

.covers-item-reverse {
  display: flex;
  flex-direction: row-reverse;
}

.covers-item-reverse .image-container {
  animation-name: marqueeLineReverse;
  animation-play-state: paused;
}

.responsive-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image-container {
  margin-right: 25px;
  margin-bottom: 30px;
  width: 282px;
  height: 162px;
  animation-name: marqueeLine;
  animation-duration: 6s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-play-state: paused;
  flex-shrink: 0;
}

@keyframes marqueeLine {
  from {
    transform: translateX(-20%);
  }

  to {
    transform: translateX(-180%);
  }
}

@keyframes marqueeLineReverse {
  from {
    transform: translateX(-180%);
  }

  to {
    transform: translateX(-20%);
  }
}

@media screen and (min-width: 375px) {
  .covers-container {
    height: 508px;
  }
}

@media screen and (min-width: 768px) {
  .covers-container {
    height: 960px;
    max-width: 768px;
    margin-bottom: 96px;
  }
  .covers-item .image-container {
    width: 544px;
    height: 314px;
    margin-right: 44px;
    margin-bottom: 50px;
  }
}

@media only screen and (min-width: 1200px) {
  .covers-container {
    max-width: 1440px;
    margin-bottom: 172px;
  }
}
