.work-together {
  background-image: url('../img/footer/footer-backgound-mobile-img-1x.png');
  background-position: right center;
  background-repeat: no-repeat;
  background-size: contain;
  padding-top: 32px;
  padding-bottom: 32px;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .work-together {
    background-image: url('../img/footer/footer-backgound-mobile-img-2x.png');
  }
}

@media (min-width: 768px) and (max-width: 1439px) {
  .work-together {
    background-image: url('../img/footer/footer-backgound-tablet-img-1x.png');
    background-position: right center;
  }
}

@media (min-width: 768px) and (max-width: 1439px) and (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi) {
  .work-together {
    background-image: url('../img/footer/footer-backgound-tablet-img-2x.png');
  }
}

@media (min-width: 1440px) {
  .work-together {
    background-image: url('../img/footer/footer-background-desk-img-1x.png');
    background-position: right center;
  }
}

@media (min-width: 1440px) and (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi) {
  .work-together {
    background-image: url('../img/footer/footer-background-desk-img-2x.png');
  }
}

.footer-content {
  width: 100%;
  margin-bottom: 63px;
}

.logo-container {
  float: left;
  margin-right: 8px;
}

.footer-logo {
  width: 44px;
  height: 44px;
  object-fit: cover;
}

.footer-text h2 {
  font-weight: 500;
  font-size: 40px;
  line-height: 1;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #fafafa;
}

.text-accent {
  color: #ed3b44;
}

.footer-last-word {
  margin-top: 10px;
}
.contact-form {
  margin-bottom: 64px;
}
.footer-input {
  margin-bottom: 16px;
  display: flex;
  padding-bottom: 20px;
}
.footer-input,
.footer-textarea {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: #fafafa;
  width: 100%;
  height: 44px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  background-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
  border-top-color: transparent;
  border-bottom: 1px solid rgba(250, 250, 250, 0.2);
}

.footer-input:hover,
.footer-input:focus,
.footer-textarea:hover,
.footer-textarea:focus {
  border-bottom-color: #fafafa;
}

.footer-input:focus-visible,
.footer-textarea:focus-visible {
  outline: transparent;
}

.footer-input::placeholder,
.footer-textarea::placeholder {
  padding-bottom: 20px;
}
.footer-container-messege {
  position: relative;
}
.footer-textarea {
  margin-bottom: 32px;
  resize: none;
}
.success-label,
.error-label {
  position: absolute;
  font-size: 14px;
  left: 0;
  top: 100%;
}

.success-label {
  color: rgb(6, 171, 6);
}

.error-label {
  color: rgb(247, 3, 3);
}

.footer-form-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #ed3b44;
  border: transparent;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.02em;
  color: #fafafa;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-form-btn:hover,
.footer-form-btn:focus {
  background-color: #e0373f;
}
.footer-form-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #ed3b44;
  border: transparent;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.02em;
  color: #fafafa;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-form-btn:hover,
.footer-form-btn:focus {
  background-color: #e0373f;
  transform: scale(1.02);
  box-shadow: 0 0 15px 5px rgb(224, 55, 63, 0.2);
}

.footer-contacts-list {
  display: flex;
  gap: 4px;
}
.footer-contacts-item {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-contacts-item:hover,
.footer-contacts-item:focus {
  border-color: #fafafa;
}
.footer-contacts-link {
  width: 100%;
  height: 100%;
  padding: 10px 12px;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: #fafafa;
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 60px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-contacts-link:hover,
.footer-contacts-link:focus {
  border-color: #fafafa;
}

.footer-email {
  min-width: 178px;
}
.footer-tel {
  min-width: 119px;
}
.footer-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(15, 15, 16, 0.6);
  z-index: 999;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-backdrop.is-open {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
}

.footer-modal {
  width: 343px;
  height: 276px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-position: center;
  background-size: cover;
  z-index: 1000;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  border: 1px solid rgba(250, 250, 250, 0.1);
  border-radius: 20px;
  background-color: #1c1d20;
  padding: 64px 32px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-modal.is-open {
  visibility: visible;
  pointer-events: auto;
  opacity: 1;
  transform: translate(-50%, -50%);
}

.footer-modal-container {
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 100%;
}
.modal-close-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 34px;
  height: 34px;
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal-close-icon {
  stroke: #fafafa;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-icon:hover,
.modal-close-icon:focus {
  transform: rotate(90deg);
}

.title-answer {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  text-align: center;
  color: #fafafa;
  margin-bottom: 16px;
}
.text-answer {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  text-align: center;
  color: rgba(250, 250, 250, 0.6);
}
@media only screen and (min-width: 768px) {
  .work-together {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .footer-content {
    margin-bottom: 18px;
  }
  .footer-logo {
    width: 70px;
    height: 70px;
  }
  .footer-text h2 {
    font-size: 64px;
  }
  .contact-form {
    display: flex;
    flex-direction: row;
    justify-content: baseline;
    align-items: center;
    margin-bottom: 18px;
  }
  .footer-input {
    margin-bottom: 0;
    margin-right: 32px;
  }
  .footer-input,
  .footer-textarea {
    width: 245px;
    background-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
    border-top-color: transparent;
    border-bottom: 1px solid rgba(250, 250, 250, 0.2);
  }
  .footer-textarea {
    margin-bottom: 0;
    margin-right: 32px;
  }
  .footer-form-btn {
    width: 150px;
    height: 150px;
  }

  .footer-contacts-list {
    gap: 8px;
  }
  /* .footer-contacts-item {
    padding: 18px 32px;
  } */
  .footer-contacts-link {
    padding: 18px 32px;
    font-size: 16px;
  }
  .footer-email {
    min-width: 239px;
  }
  .footer-tel {
    min-width: 172px;
  }
  .footer-modal {
    width: 492px;
    height: 246px;
  }
  .container-answer {
    width: 364px;
  }
}
@media only screen and (min-width: 1440px) {
  .footer-container {
    max-width: 1140px;
  }
  .footer-content {
    width: 542px;
  }
  .contact-form {
    justify-content: flex-start;
  }
  .footer-input,
  .footer-textarea {
    width: 390px;
  }
  .footer-textarea {
    margin-right: 86px;
  }
}
