.header {
  background-color: transparent;
  position: absolute;
  top: 7%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  width: 100%;
}

.nav-header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.header-logo {
  display: flex;
  min-width: 172px;
  max-height: 80px;
}

.logo-text-wrapper {
  display: flex;
  align-items: center;
  min-width: 84px;
  max-height: 19px;
}

.logo-text {
  font-weight: 500;
  letter-spacing: -0.02em;
  color: #ffff;
  margin-left: 8px;
}

.jefferson-star {
  vertical-align: text-top;
}
.header-menu {
  display: none;
}

.header-btn {
  display: none;
}

.burger-btn {
  border: none;
  height: 28px;
  width: 28px;
  background-color: transparent;
  position: relative;
}

.burger-span {
  position: absolute;
  width: 21px;
  height: 2px;
  background-color: #ffff;
  left: 3px;
}

.burger-span:nth-child(1) {
  transform: translateY(-4px);
}

.burger-span:nth-child(2) {
  transform: translateY(4px);
}
@media only screen and (min-width: 375px) {
  .header .container {
    padding: 0;
    margin: 0;
    max-width: 767px;
  }

  .header {
    width: 90%;
    top: 7%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .nav-header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    max-width: 767px;
    min-height: 80px;
  }
}

@media only screen and (min-width: 768px) {
  .header {
    width: 85%;
    position: absolute;
    top: 7%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 1439px;
  }
 
  .header .container {
    padding: 0;
    margin: 0;
    max-width: 1439px;
  }

  .nav-header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    max-width: 1140px;
    min-height: 80px;
  }

  .burger-btn {
    display: none;
  }
  .header-menu {
    display: block;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: -0.02em;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #ffff;
    min-width: 60px;
    max-height: 39px;
    text-align: center;
  }
  .header-btn {
    display: block;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: -0.02em;
    color: #ffff;
    border: none;
    border-radius: 60px;
    padding: 18px 24px;
    min-width: 177px;
    height: 55px;
    background: #e0373f;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header-btn:hover,
  .header-btn:focus,
  .header-btn:active {
    background: #d43030;
    color: #fff;
  }
}

@media screen and (min-width: 1440px) {
  .header {
    width: 95%;
    position: absolute;
    top: 7%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 1439px;
  }

  .nav-header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    min-width: 1376px;
    min-height: 80px;
  }

  .burger-btn {
    display: none;
  }
}
