.header {
  background-color: transparent;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}

.logo-header {
  width: 84px;
  height: 19px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  /* max-width: 367px;
  padding-left: 16px;
  padding-right: 16px;
  margin: 0 auto; */
}
.main-photo {
  display: flex;
  /* align-items: center;  */
  gap: 10px;
}
.header--mobile {
  padding-top: 18px;
  padding-bottom: 18px;
}

.heder-img {
  width: 80px;
  height: 80px;
}

.header-navigation {
  display: flex;
}

.header-btn {
  display: none;
  color: var(--text-grey-modal);
  background: var(--coral-button);
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  align-items: flex-start;
  gap: 10px;
  margin: 0 auto;
  min-width: 164px;
  height: 45px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  text-decoration: none;
}

.btn-scroll-mobile {
  display: block;
  padding-top: 10px;
  margin-top: 282px;
  margin-bottom: 64px;
}

.header-btn--mobile {
  display: block;
}

.team-photo {
  margin-right: 10px;
}

.title-menu {
  display: none;
  /* margin-right: 151px; */
  margin-right: auto;
  /* margin-left: 151px; */
  margin-left: auto;
}

.mobile-menu-burger-btn,
.mobile-menu-close-btn {
  background-color: transparent;
  border: none;
  padding: 0;
  line-height: 0;
  stroke: #111111;
}

.mob-menu-icon {
  fill: #fafafa;
  stroke: #fafafa;
}

/* .mobile-menu-burger-icon {

  stroke: #fafafa;
} */

.mobile-menu-close-btn {
  border: none;
  padding: 0;
  line-height: 0;
  stroke: #fff;
  position: absolute;
  top: 20px;
  right: 16px;
}

.mobile-menu-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 18px;
  margin: auto;
}
.mobile-menu-wrapper {
  visibility: hidden;
  position: fixed;
  opacity: 0;
  pointer-events: none;
  top: 0;
  left: 0;
  z-index: 99999999;
  width: 100%;
  height: 100%;
  background-image: url(../img/img-hero/background-hero-m.png);
  background-repeat: no-repeat;
  background-size: cover;
  transform: translateX(100%);
  transition: transform 250ms linear;
  display: flex;
}

.tablet-menu {
  text-align: center;
}

.tablet-menu-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999999;
  width: 100%;
  height: 100%;
  transform: translateY(-100%);
  transition: transform 250ms linear;
}

.tablet-menu-link {
  text-decoration: none;
  cursor: pointer;
}
.mobile-menu-wrapper.is-open {
  transform: translateX(0%);
  visibility: visible;
  pointer-events: auto;
  opacity: 1;
}
.tablet-menu-wrapper.is-open {
  transform: translateX(0%);
}

.mobile-menu-link,
.mobile-menu-item {
  text-decoration: underline;
  cursor: pointer;
}

.mobile-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 18px;
  margin: auto;
  padding-top: 300px;
}

.main-photo {
  display: flex;
}

.photo-logo {
  width: 80px;
  height: 80px;
}
.header-btn--mobile {
  margin-bottom: 62px;
}

.menu-container {
  display: flex;
  justify-content: space-between;
}

.menu {
  width: 300px;
  overflow: hidden;
  
  
}
.menu-open {
  display: inline-block;
}

.menu-close {
  display: none;
}

.mobile-menu-burger-btn {
  margin-left: 90px;
}
.title-menu {
  cursor: pointer;
}
.title-menu,
.title-menu .mobile-menu-link,
.mobile-menu-link,
.tablet-menu-link,
.tablet-menu-link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.title-menu:hover,
.title-menu:focus,
.mobile-menu-link:hover,
.mobile-menu-link:focus,
.tablet-menu-link:hover,
.tablet-menu-link:focus {
  color: #ed3b44;
  cursor: pointer;
}
/* .header-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: -0.02em;
    border-radius: 60px;
    padding: 18px 24px;
    width: 163px;
    height: 55px;
    white-space: nowrap;
    background-color: #ed3b44;
  } */
@media screen and (min-width: 768px) {
  .header-container {
    width: 100%;
  }
  .mobile-menu-close-btn,
  .mobile-menu-burger-btn {
    display: none;
  }
  .header-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: -0.02em;
    border-radius: 60px;
    padding: 18px 24px;
    width: 163px;
    height: 55px;
    white-space: nowrap;
    background-color: #ed3b44;
    transition: background-color  250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .header-btn:hover,
  .header-btn:focus{
    background-color:  #e0373f;

  }
  .title-menu {
    font-weight: 500;
    font-size: 16px;
    letter-spacing: -0.02em;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #fafafa;
    display: inline-block;
    text-decoration: underline;
    cursor: pointer;
  }
  .header-navigation {
    display: flex;
    align-items: center;
  }
}

@media screen and (min-width: 1440px) {
  .header-container {
    max-width: 1440px;
  }
  .title-menu {
    /* margin-right: 500px; */
    margin-right: auto;
    /* margin-left: 500px; */
    margin-left: auto;
  }
  .tablet-menu {
    margin-left: auto;
  }
}
.tablet-menu-navigation {
  padding-top: 100px;
  text-align: center;
}

/* mobile menu */

/* .mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #1c1d20;
  background-image: url(../img/img-hero/backgrnd-mobile.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: 9999;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.close-btn-wrapper {
  position: absolute;
  top: 32px;
  right: 18px;
}

.close-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  height: 28px;
  width: 28px;
  background-color: transparent;
  position: relative;
}

.close-btn .burger-span:nth-child(1) {
  transform: translateY(0) rotate(45deg);
}

.close-btn .burger-span:nth-child(2) {
  transform: translateY(0) rotate(-45deg);
}

.mobile-menu-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.mobile-link-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
  margin-top: 302px;
}

.mobile-link-item {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.02em;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #fff;
  text-transform: capitalize;
}

.mobile-link-item:last-child {
  text-transform: uppercase;
}

.mobile-order-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  margin-bottom: 64px;

  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.02em;
  color: #ffff;
  border: none;
  border-radius: 60px;
  padding: 18px 24px;
  min-width: 177px;
  height: 55px;
  background: #e0373f;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
} */
