


.swiper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 320px;

    
}


.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    max-width: 323px;
      padding: 0 16px;
    /* Внутрішній відступ */
}


.wraper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: start;
    text-align: start;
    border: 1px solid #fafafa99;
    border-radius: 10px;
    padding: 24px 16px;
    max-width: 344px;
    height: 300px;
    
}

/* Зображення у слайді */
.reviews-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-bottom: 16px;
}

/* Текст автора */
.review-author {
    font-size: 18px;
    margin-bottom: 8px;
   color: #FAFAFA;
}

/* Текст відгуку */
.review-text {
    font-size: 14px;
    line-height: 20px;
    color: #fafafa99;
    max-width: 343px;
    overflow: hidden;
}

.btn-container{
   
    display: flex;
    gap: 20px;
}
.nav-btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;

    border: 1px solid #fafafa99;
    color: #fff;
    fill: #fafafa99;

}
.review-list{
    margin-bottom: 32px;
}
.swiper-pagination{
    margin-bottom: 50px;

 
}
.swiper-pagination-bullet{

background-color: #FAFAFA;
}





