.reviews {
  padding-top: 64px;
  padding-bottom: 64px;
}
.rev-name {
  margin-bottom: 32px;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: rgba(250, 250, 250, 0.4);
}
.reviews-img {
  width: 48px;
  height: 48px;

  border-radius: 10px;

  margin-bottom: 32px;
}
.wraper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: start;
  text-align: start;
  border: 1px solid #fafafa33;
  border-radius: 20px;
  padding: 32px 24px;
  max-width: 342px;
  height: 302px;
}
.reviews-item {
  align-items: center;
  justify-content: center;
}

.review-author {
  font-size: 18px;
  margin-bottom: 8px;
  color: #fafafa;
}

/* Текст відгуку */
.review-text {
  font-size: 14px;
  line-height: 20px;
  color: #fafafa99;
  max-width: 295px;
  overflow: hidden;
}

.rev-btn-container {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.rev-prew,
.rev-next {
  cursor: pointer;
}
.rev-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 52px;
  height: 52px;
  border: 1px solid rgba(250, 250, 250, 0.5);
  border-radius: 50%;
  background-color: transparent;
  transition: border 250ms ease-in-out;
}
.rev-svg {
  width: 32px;
  height: 32px;
  fill: #fafafa;
}
.reviews-item {
  display: flex;
  justify-items: center;
}
.rev-wrapper {
  margin-bottom: 32px;
}

@media only screen and (min-width: 768px) {
  .reviews {
    padding-top: 96px;
    padding-bottom: 96px;
  }
  .rev-button {
    width: 68px;
    height: 68px;
  }
}
/* Styles for Desktop devices */
@media only screen and (min-width: 1440px) {
  .reviews {
    padding-top: 164px;
    padding-bottom: 164px;
  }

  .rev-button {
    width: 68px;
    height: 68px;
  }
}

